PRN : 21510025
Name : Shreya Bapuso Khambe
Batch : T2

In [ ]:
import pandas as pd
df=pd.read_csv("https://raw.githubusercontent.com/rashida048/Datasets/master/home_data.csv")
print(df.describe())

                 id         price      bedrooms     bathrooms   sqft_living  \
count  2.161300e+04  2.161300e+04  21613.000000  21613.000000  21613.000000
mean   4.580302e+09  5.400881e+05      3.370842      2.114757   2079.899736
std    2.876566e+09  3.671272e+05      0.930062      0.770163    918.440897
min    1.000102e+06  7.500000e+04      0.000000      0.000000    290.000000
25%    2.123049e+09  3.219500e+05      3.000000      1.750000   1427.000000
50%    3.904930e+09  4.500000e+05      3.000000      2.250000   1910.000000
75%    7.308900e+09  6.450000e+05      4.000000      2.500000   2550.000000
max    9.900000e+09  7.700000e+06     33.000000      8.000000  13540.000000

           sqft_lot        floors    waterfront          view     condition  \
count  2.161300e+04  21613.000000  21613.000000  21613.000000  21613.000000
mean   1.510697e+04      1.494309      0.007542      0.234303      3.409430
std    4.142051e+04      0.539989      0.086517      0.766318      0.650743
min    5.200000e+02      1.000000      0.000000      0.000000      1.000000
25%    5.040000e+03      1.000000      0.000000      0.000000      3.000000
50%    7.618000e+03      1.500000      0.000000      0.000000      3.000000
75%    1.068800e+04      2.000000      0.000000      0.000000      4.000000
max    1.651359e+06      3.500000      1.000000      4.000000      5.000000

              grade    sqft_above  sqft_basement      yr_built  yr_renovated  \
count  21613.000000  21613.000000   21613.000000  21613.000000  21613.000000
mean       7.656873   1788.390691     291.509045   1971.005136     84.402258
std        1.175459    828.090978     442.575043     29.373411    401.679240
min        1.000000    290.000000       0.000000   1900.000000      0.000000
25%        7.000000   1190.000000       0.000000   1951.000000      0.000000
50%        7.000000   1560.000000       0.000000   1975.000000      0.000000
75%        8.000000   2210.000000     560.000000   1997.000000      0.000000
max       13.000000   9410.000000    4820.000000   2015.000000   2015.000000

            zipcode           lat          long  sqft_living15     sqft_lot15
count  21613.000000  21613.000000  21613.000000   21613.000000   21613.000000
mean   98077.939805     47.560053   -122.213896    1986.552492   12768.455652
std       53.505026      0.138564      0.140828     685.391304   27304.179631
min    98001.000000     47.155900   -122.519000     399.000000     651.000000
25%    98033.000000     47.471000   -122.328000    1490.000000    5100.000000
50%    98065.000000     47.571800   -122.230000    1840.000000    7620.000000
75%    98118.000000     47.678000   -122.125000    2360.000000   10083.000000
max    98199.000000     47.777600   -121.315000    6210.000000  871200.000000

1.Display shape of the data frame

In [ ]:
print(df.shape)

(21613, 21)

2.Display column names

In [ ]:
print(df.columns)

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15'],
      dtype='object')

3.Display 5 quantiles of the dataset

In [ ]:
numeric_columns = df.select_dtypes(include='number')
quantiles = numeric_columns.quantile([0, 0.25, 0.5, 0.75, 1])
print("5 Quantiles of the Dataset:")
print(quantiles)

5 Quantiles of the Dataset:
                id      price  bedrooms  bathrooms  sqft_living   sqft_lot  \
0.00  1.000102e+06    75000.0       0.0       0.00        290.0      520.0
0.25  2.123049e+09   321950.0       3.0       1.75       1427.0     5040.0
0.50  3.904930e+09   450000.0       3.0       2.25       1910.0     7618.0
0.75  7.308900e+09   645000.0       4.0       2.50       2550.0    10688.0
1.00  9.900000e+09  7700000.0      33.0       8.00      13540.0  1651359.0

      floors  waterfront  view  condition  grade  sqft_above  sqft_basement  \
0.00     1.0         0.0   0.0        1.0    1.0       290.0            0.0
0.25     1.0         0.0   0.0        3.0    7.0      1190.0            0.0
0.50     1.5         0.0   0.0        3.0    7.0      1560.0            0.0
0.75     2.0         0.0   0.0        4.0    8.0      2210.0          560.0
1.00     3.5         1.0   4.0        5.0   13.0      9410.0         4820.0

      yr_built  yr_renovated  zipcode      lat     long  sqft_living15  \
0.00    1900.0           0.0  98001.0  47.1559 -122.519          399.0
0.25    1951.0           0.0  98033.0  47.4710 -122.328         1490.0
0.50    1975.0           0.0  98065.0  47.5718 -122.230         1840.0
0.75    1997.0           0.0  98118.0  47.6780 -122.125         2360.0
1.00    2015.0        2015.0  98199.0  47.7776 -121.315         6210.0

      sqft_lot15
0.00       651.0
0.25      5100.0
0.50      7620.0
0.75     10083.0
1.00    871200.0

4.Display count of rows having null in any column

In [ ]:
print(df.isnull().any(axis=1).sum())

0

5.Display first 10 rows

In [ ]:
print(df.head(10))

           id             date    price  bedrooms  bathrooms  sqft_living  \
0  7129300520  20141013T000000   221900         3       1.00         1180
1  6414100192  20141209T000000   538000         3       2.25         2570
2  5631500400  20150225T000000   180000         2       1.00          770
3  2487200875  20141209T000000   604000         4       3.00         1960
4  1954400510  20150218T000000   510000         3       2.00         1680
5  7237550310  20140512T000000  1225000         4       4.50         5420
6  1321400060  20140627T000000   257500         3       2.25         1715
7  2008000270  20150115T000000   291850         3       1.50         1060
8  2414600126  20150415T000000   229500         3       1.00         1780
9  3793500160  20150312T000000   323000         3       2.50         1890

   sqft_lot  floors  waterfront  view  ...  grade  sqft_above  sqft_basement  \
0      5650     1.0           0     0  ...      7        1180              0
1      7242     2.0           0     0  ...      7        2170            400
2     10000     1.0           0     0  ...      6         770              0
3      5000     1.0           0     0  ...      7        1050            910
4      8080     1.0           0     0  ...      8        1680              0
5    101930     1.0           0     0  ...     11        3890           1530
6      6819     2.0           0     0  ...      7        1715              0
7      9711     1.0           0     0  ...      7        1060              0
8      7470     1.0           0     0  ...      7        1050            730
9      6560     2.0           0     0  ...      7        1890              0

   yr_built  yr_renovated  zipcode      lat     long  sqft_living15  \
0      1955             0    98178  47.5112 -122.257           1340
1      1951          1991    98125  47.7210 -122.319           1690
2      1933             0    98028  47.7379 -122.233           2720
3      1965             0    98136  47.5208 -122.393           1360
4      1987             0    98074  47.6168 -122.045           1800
5      2001             0    98053  47.6561 -122.005           4760
6      1995             0    98003  47.3097 -122.327           2238
7      1963             0    98198  47.4095 -122.315           1650
8      1960             0    98146  47.5123 -122.337           1780
9      2003             0    98038  47.3684 -122.031           2390

   sqft_lot15
0        5650
1        7639
2        8062
3        5000
4        7503
5      101930
6        6819
7        9711
8        8113
9        7570

[10 rows x 21 columns]

6.Display last 10 rows

In [ ]:
print(df.tail(10))

               id             date    price  bedrooms  bathrooms  sqft_living  \
21603  7852140040  20140825T000000   507250         3       2.50         2270
21604  9834201367  20150126T000000   429000         3       2.00         1490
21605  3448900210  20141014T000000   610685         4       2.50         2520
21606  7936000429  20150326T000000  1007500         4       3.50         3510
21607  2997800021  20150219T000000   475000         3       2.50         1310
21608   263000018  20140521T000000   360000         3       2.50         1530
21609  6600060120  20150223T000000   400000         4       2.50         2310
21610  1523300141  20140623T000000   402101         2       0.75         1020
21611   291310100  20150116T000000   400000         3       2.50         1600
21612  1523300157  20141015T000000   325000         2       0.75         1020

       sqft_lot  floors  waterfront  view  ...  grade  sqft_above  \
21603      5536     2.0           0     0  ...      8        2270
21604      1126     3.0           0     0  ...      8        1490
21605      6023     2.0           0     0  ...      9        2520
21606      7200     2.0           0     0  ...      9        2600
21607      1294     2.0           0     0  ...      8        1180
21608      1131     3.0           0     0  ...      8        1530
21609      5813     2.0           0     0  ...      8        2310
21610      1350     2.0           0     0  ...      7        1020
21611      2388     2.0           0     0  ...      8        1600
21612      1076     2.0           0     0  ...      7        1020

       sqft_basement  yr_built  yr_renovated  zipcode      lat     long  \
21603              0      2003             0    98065  47.5389 -121.881
21604              0      2014             0    98144  47.5699 -122.288
21605              0      2014             0    98056  47.5137 -122.167
21606            910      2009             0    98136  47.5537 -122.398
21607            130      2008             0    98116  47.5773 -122.409
21608              0      2009             0    98103  47.6993 -122.346
21609              0      2014             0    98146  47.5107 -122.362
21610              0      2009             0    98144  47.5944 -122.299
21611              0      2004             0    98027  47.5345 -122.069
21612              0      2008             0    98144  47.5941 -122.299

       sqft_living15  sqft_lot15
21603           2270        5731
21604           1400        1230
21605           2520        6023
21606           2050        6200
21607           1330        1265
21608           1530        1509
21609           1830        7200
21610           1020        2007
21611           1410        1287
21612           1020        1357

[10 rows x 21 columns]

7.Display rows having number of floors more than or equal to 1.5

In [ ]:
print(df[df['floors'] >= 1.5])

               id             date   price  bedrooms  bathrooms  sqft_living  \
1      6414100192  20141209T000000  538000         3       2.25         2570
6      1321400060  20140627T000000  257500         3       2.25         1715
9      3793500160  20150312T000000  323000         3       2.50         1890
12      114101516  20140528T000000  310000         3       1.00         1430
14     1175000570  20150312T000000  530000         5       2.00         1810
...           ...              ...     ...       ...        ...          ...
21608   263000018  20140521T000000  360000         3       2.50         1530
21609  6600060120  20150223T000000  400000         4       2.50         2310
21610  1523300141  20140623T000000  402101         2       0.75         1020
21611   291310100  20150116T000000  400000         3       2.50         1600
21612  1523300157  20141015T000000  325000         2       0.75         1020

       sqft_lot  floors  waterfront  view  ...  grade  sqft_above  \
1          7242     2.0           0     0  ...      7        2170
6          6819     2.0           0     0  ...      7        1715
9          6560     2.0           0     0  ...      7        1890
12        19901     1.5           0     0  ...      7        1430
14         4850     1.5           0     0  ...      7        1810
...         ...     ...         ...   ...  ...    ...         ...
21608      1131     3.0           0     0  ...      8        1530
21609      5813     2.0           0     0  ...      8        2310
21610      1350     2.0           0     0  ...      7        1020
21611      2388     2.0           0     0  ...      8        1600
21612      1076     2.0           0     0  ...      7        1020

       sqft_basement  yr_built  yr_renovated  zipcode      lat     long  \
1                400      1951          1991    98125  47.7210 -122.319
6                  0      1995             0    98003  47.3097 -122.327
9                  0      2003             0    98038  47.3684 -122.031
12                 0      1927             0    98028  47.7558 -122.229
14                 0      1900             0    98107  47.6700 -122.394
...              ...       ...           ...      ...      ...      ...
21608              0      2009             0    98103  47.6993 -122.346
21609              0      2014             0    98146  47.5107 -122.362
21610              0      2009             0    98144  47.5944 -122.299
21611              0      2004             0    98027  47.5345 -122.069
21612              0      2008             0    98144  47.5941 -122.299

       sqft_living15  sqft_lot15
1               1690        7639
6               2238        6819
9               2390        7570
12              1780       12697
14              1360        4850
...              ...         ...
21608           1530        1509
21609           1830        7200
21610           1020        2007
21611           1410        1287
21612           1020        1357

[10933 rows x 21 columns]

8.Display houses older than 1968 and their count

In [ ]:
older_houses = df[df['yr_built'] < 1968]
print(older_houses)
print(len(older_houses))

               id             date   price  bedrooms  bathrooms  sqft_living  \
0      7129300520  20141013T000000  221900         3       1.00         1180
1      6414100192  20141209T000000  538000         3       2.25         2570
2      5631500400  20150225T000000  180000         2       1.00          770
3      2487200875  20141209T000000  604000         4       3.00         1960
7      2008000270  20150115T000000  291850         3       1.50         1060
...           ...              ...     ...       ...        ...          ...
21303   522059130  20150429T000000  465000         3       1.00         1150
21332  9266700190  20150511T000000  245000         1       1.00          390
21343  2924079034  20140925T000000  332220         3       1.50         2580
21470   121039156  20150109T000000  249000         3       1.00         1030
21583  2025049203  20140610T000000  399950         2       1.00          710

       sqft_lot  floors  waterfront  view  ...  grade  sqft_above  \
0          5650     1.0           0     0  ...      7        1180
1          7242     2.0           0     0  ...      7        2170
2         10000     1.0           0     0  ...      6         770
3          5000     1.0           0     0  ...      7        1050
7          9711     1.0           0     0  ...      7        1060
...         ...     ...         ...   ...  ...    ...         ...
21303     18200     1.0           0     0  ...      7        1150
21332      2000     1.0           0     0  ...      6         390
21343     47480     1.0           0     0  ...      7        1360
21470     24750     1.0           0     2  ...      5        1030
21583      1157     2.0           0     0  ...      7         710

       sqft_basement  yr_built  yr_renovated  zipcode      lat     long  \
0                  0      1955             0    98178  47.5112 -122.257
1                400      1951          1991    98125  47.7210 -122.319
2                  0      1933             0    98028  47.7379 -122.233
3                910      1965             0    98136  47.5208 -122.393
7                  0      1963             0    98198  47.4095 -122.315
...              ...       ...           ...      ...      ...      ...
21303              0      1959             0    98058  47.4262 -122.187
21332              0      1920             0    98103  47.6938 -122.347
21343           1220      1953             0    98024  47.5333 -121.933
21470              0      1943             0    98023  47.3343 -122.362
21583              0      1943             0    98102  47.6413 -122.329

       sqft_living15  sqft_lot15
0               1340        5650
1               1690        7639
2               2720        8062
3               1360        5000
7               1650        9711
...              ...         ...
21303           1714       18200
21332           1340        5100
21343           1760       48181
21470           2810       28800
21583           1370        1173

[9388 rows x 21 columns]
9388

9.Display houses having price more than 50000/- and their count

In [ ]:
expensive_houses = df[df['price'] > 50000]
print(expensive_houses)
print(len(expensive_houses))

               id             date   price  bedrooms  bathrooms  sqft_living  \
0      7129300520  20141013T000000  221900         3       1.00         1180
1      6414100192  20141209T000000  538000         3       2.25         2570
2      5631500400  20150225T000000  180000         2       1.00          770
3      2487200875  20141209T000000  604000         4       3.00         1960
4      1954400510  20150218T000000  510000         3       2.00         1680
...           ...              ...     ...       ...        ...          ...
21608   263000018  20140521T000000  360000         3       2.50         1530
21609  6600060120  20150223T000000  400000         4       2.50         2310
21610  1523300141  20140623T000000  402101         2       0.75         1020
21611   291310100  20150116T000000  400000         3       2.50         1600
21612  1523300157  20141015T000000  325000         2       0.75         1020

       sqft_lot  floors  waterfront  view  ...  grade  sqft_above  \
0          5650     1.0           0     0  ...      7        1180
1          7242     2.0           0     0  ...      7        2170
2         10000     1.0           0     0  ...      6         770
3          5000     1.0           0     0  ...      7        1050
4          8080     1.0           0     0  ...      8        1680
...         ...     ...         ...   ...  ...    ...         ...
21608      1131     3.0           0     0  ...      8        1530
21609      5813     2.0           0     0  ...      8        2310
21610      1350     2.0           0     0  ...      7        1020
21611      2388     2.0           0     0  ...      8        1600
21612      1076     2.0           0     0  ...      7        1020

       sqft_basement  yr_built  yr_renovated  zipcode      lat     long  \
0                  0      1955             0    98178  47.5112 -122.257
1                400      1951          1991    98125  47.7210 -122.319
2                  0      1933             0    98028  47.7379 -122.233
3                910      1965             0    98136  47.5208 -122.393
4                  0      1987             0    98074  47.6168 -122.045
...              ...       ...           ...      ...      ...      ...
21608              0      2009             0    98103  47.6993 -122.346
21609              0      2014             0    98146  47.5107 -122.362
21610              0      2009             0    98144  47.5944 -122.299
21611              0      2004             0    98027  47.5345 -122.069
21612              0      2008             0    98144  47.5941 -122.299

       sqft_living15  sqft_lot15
0               1340        5650
1               1690        7639
2               2720        8062
3               1360        5000
4               1800        7503
...              ...         ...
21608           1530        1509
21609           1830        7200
21610           1020        2007
21611           1410        1287
21612           1020        1357

[21613 rows x 21 columns]
21613

10.Display houses having number of bedrooms less than or equal to 2 and price above 51000/- along with their count

In [ ]:
specific_houses = df[(df['bedrooms'] <= 2) & (df['price'] > 51000)]
print(specific_houses)
print(len(specific_houses))

               id             date   price  bedrooms  bathrooms  sqft_living  \
2      5631500400  20150225T000000  180000         2       1.00          770
11     9212900260  20140527T000000  468000         2       1.00         1160
18       16000397  20141205T000000  189000         2       1.00         1200
23     8091400200  20140516T000000  252700         2       1.50         1070
31     2426039314  20141201T000000  280000         2       1.50         1190
...           ...              ...     ...       ...        ...          ...
21586  2767604724  20141015T000000  505000         2       2.50         1430
21588  2767600688  20141113T000000  414500         2       1.50         1210
21595  1972201967  20141031T000000  520000         2       2.25         1530
21610  1523300141  20140623T000000  402101         2       0.75         1020
21612  1523300157  20141015T000000  325000         2       0.75         1020

       sqft_lot  floors  waterfront  view  ...  grade  sqft_above  \
2         10000     1.0           0     0  ...      6         770
11         6000     1.0           0     0  ...      7         860
18         9850     1.0           0     0  ...      7        1200
23         9643     1.0           0     0  ...      7        1070
31         1265     3.0           0     0  ...      7        1190
...         ...     ...         ...   ...  ...    ...         ...
21586      1201     3.0           0     0  ...      8        1430
21588      1278     2.0           0     0  ...      8        1020
21595       981     3.0           0     0  ...      8        1480
21610      1350     2.0           0     0  ...      7        1020
21612      1076     2.0           0     0  ...      7        1020

       sqft_basement  yr_built  yr_renovated  zipcode      lat     long  \
2                  0      1933             0    98028  47.7379 -122.233
11               300      1942             0    98115  47.6900 -122.292
18                 0      1921             0    98002  47.3089 -122.210
23                 0      1985             0    98030  47.3533 -122.166
31                 0      2005             0    98133  47.7274 -122.357
...              ...       ...           ...      ...      ...      ...
21586              0      2009             0    98107  47.6707 -122.381
21588            190      2007             0    98117  47.6756 -122.375
21595             50      2006             0    98103  47.6533 -122.346
21610              0      2009             0    98144  47.5944 -122.299
21612              0      2008             0    98144  47.5941 -122.299

       sqft_living15  sqft_lot15
2               2720        8062
11              1330        6000
18              1060        5095
23              1220        8386
31              1390        1756
...              ...         ...
21586           1430        1249
21588           1210        1118
21595           1530        1282
21610           1020        2007
21612           1020        1357

[2972 rows x 21 columns]
2972

11.Display houses having number of bedrooms more than 2 and square foot

In [ ]:
filtered_houses = df[(df['bedrooms'] > 2) & (df['sqft_living'] > 2000)]
count_filtered_houses = filtered_houses.shape[0]
print("Houses with > 2 bedrooms and square footage > 2000:")
print(filtered_houses)
print("Count:", count_filtered_houses)

Houses with > 2 bedrooms and square footage > 2000:
               id             date    price  bedrooms  bathrooms  sqft_living  \
1      6414100192  20141209T000000   538000         3       2.25         2570
5      7237550310  20140512T000000  1225000         4       4.50         5420
10     1736800520  20150403T000000   662500         3       2.50         3560
15     9297300055  20150124T000000   650000         4       3.00         2950
21     2524049179  20140826T000000  2000000         3       2.75         3050
...           ...              ...      ...       ...        ...          ...
21600   249000205  20141015T000000  1537000         5       3.75         4470
21603  7852140040  20140825T000000   507250         3       2.50         2270
21605  3448900210  20141014T000000   610685         4       2.50         2520
21606  7936000429  20150326T000000  1007500         4       3.50         3510
21609  6600060120  20150223T000000   400000         4       2.50         2310

       sqft_lot  floors  waterfront  view  ...  grade  sqft_above  \
1          7242     2.0           0     0  ...      7        2170
5        101930     1.0           0     0  ...     11        3890
10         9796     1.0           0     0  ...      8        1860
15         5000     2.0           0     3  ...      9        1980
21        44867     1.0           0     4  ...      9        2330
...         ...     ...         ...   ...  ...    ...         ...
21600      8088     2.0           0     0  ...     11        4470
21603      5536     2.0           0     0  ...      8        2270
21605      6023     2.0           0     0  ...      9        2520
21606      7200     2.0           0     0  ...      9        2600
21609      5813     2.0           0     0  ...      8        2310

       sqft_basement  yr_built  yr_renovated  zipcode      lat     long  \
1                400      1951          1991    98125  47.7210 -122.319
5               1530      2001             0    98053  47.6561 -122.005
10              1700      1965             0    98007  47.6007 -122.145
15               970      1979             0    98126  47.5714 -122.375
21               720      1968             0    98040  47.5316 -122.233
...              ...       ...           ...      ...      ...      ...
21600              0      2008             0    98004  47.6321 -122.200
21603              0      2003             0    98065  47.5389 -121.881
21605              0      2014             0    98056  47.5137 -122.167
21606            910      2009             0    98136  47.5537 -122.398
21609              0      2014             0    98146  47.5107 -122.362

       sqft_living15  sqft_lot15
1               1690        7639
5               4760      101930
10              2210        8925
15              2140        4000
21              4110       20336
...              ...         ...
21600           2780        8964
21603           2270        5731
21605           2520        6023
21606           2050        6200
21609           1830        7200

[9710 rows x 21 columns]
Count: 9710

12.Replace/eliminate missing values

In [ ]:
print("Remove rows with any missing values")
print(df.dropna(axis=0, how='any', inplace=True))

print("Remove column with any missing values")
print(df.dropna(axis=1, how='any', inplace=True))

Remove rows with any missing values
None
Remove column with any missing values
None

13.Change column name(s) to short/easy names if required.

In [ ]:
df.rename(columns={'sqft_lot': 'sqftlot', 'sqft_above': 'sqftabove'}, inplace=True)
print("Change in name of columns")
print("Column name: ")
print(df.columns);

Change in name of columns
Column name:
Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqftlot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqftabove', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15'],
      dtype='object')

14.Drop unessential columns (feature selection).

In [ ]:
unessential_columns = ['waterfront', 'long']
df.drop(columns=unessential_columns, inplace=True)
print("Column name: ")
print(df.columns)

Column name:
Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqftlot', 'floors', 'view', 'condition', 'grade', 'sqftabove',
       'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode', 'lat',
       'sqft_living15', 'sqft_lot15'],
      dtype='object')

15.Find mean/min/max of numeric columns.

In [ ]:
df_numeric = df.apply(pd.to_numeric, errors='coerce')
mean_values = df_numeric.mean()
min_values = df_numeric.min()
max_values = df_numeric.max()

print("Mean values:")
print(mean_values)

print("\nMinimum values:")
print(min_values)

print("\nMaximum values:")
print(max_values)

Mean values:
id               4.580302e+09
date                      NaN
price            5.400881e+05
bedrooms         3.370842e+00
bathrooms        2.114757e+00
sqft_living      2.079900e+03
sqftlot          1.510697e+04
floors           1.494309e+00
view             2.343034e-01
condition        3.409430e+00
grade            7.656873e+00
sqftabove        1.788391e+03
sqft_basement    2.915090e+02
yr_built         1.971005e+03
yr_renovated     8.440226e+01
zipcode          9.807794e+04
lat              4.756005e+01
sqft_living15    1.986552e+03
sqft_lot15       1.276846e+04
dtype: float64

Minimum values:
id               1.000102e+06
date                      NaN
price            7.500000e+04
bedrooms         0.000000e+00
bathrooms        0.000000e+00
sqft_living      2.900000e+02
sqftlot          5.200000e+02
floors           1.000000e+00
view             0.000000e+00
condition        1.000000e+00
grade            1.000000e+00
sqftabove        2.900000e+02
sqft_basement    0.000000e+00
yr_built         1.900000e+03
yr_renovated     0.000000e+00
zipcode          9.800100e+04
lat              4.715590e+01
sqft_living15    3.990000e+02
sqft_lot15       6.510000e+02
dtype: float64

Maximum values:
id               9.900000e+09
date                      NaN
price            7.700000e+06
bedrooms         3.300000e+01
bathrooms        8.000000e+00
sqft_living      1.354000e+04
sqftlot          1.651359e+06
floors           3.500000e+00
view             4.000000e+00
condition        5.000000e+00
grade            1.300000e+01
sqftabove        9.410000e+03
sqft_basement    4.820000e+03
yr_built         2.015000e+03
yr_renovated     2.015000e+03
zipcode          9.819900e+04
lat              4.777760e+01
sqft_living15    6.210000e+03
sqft_lot15       8.712000e+05
dtype: float64

16.Find mode of all columns.

In [ ]:
mode_values = df.mode()
print("Mode values:")
print(mode_values)

Mode values:
            id             date     price  bedrooms  bathrooms  sqft_living  \
0  795000620.0  20140623T000000  350000.0       3.0        2.5       1300.0
1          NaN              NaN  450000.0       NaN        NaN          NaN
2          NaN              NaN       NaN       NaN        NaN          NaN
3          NaN              NaN       NaN       NaN        NaN          NaN

   sqftlot  floors  view  condition  grade  sqftabove  sqft_basement  \
0   5000.0     1.0   0.0        3.0    7.0     1300.0            0.0
1      NaN     NaN   NaN        NaN    NaN        NaN            NaN
2      NaN     NaN   NaN        NaN    NaN        NaN            NaN
3      NaN     NaN   NaN        NaN    NaN        NaN            NaN

   yr_built  yr_renovated  zipcode      lat  sqft_living15  sqft_lot15
0    2014.0           0.0  98103.0  47.5322         1540.0      5000.0
1       NaN           NaN      NaN  47.5491            NaN         NaN
2       NaN           NaN      NaN  47.6624            NaN         NaN
3       NaN           NaN      NaN  47.6846            NaN         NaN

17.Display unique values in each column

In [ ]:
for column in df.columns:
    unique_values = df[column].unique()
    print(f"Unique values in '{column}':")
    print(unique_values)
    print()

Unique values in 'id':
[7129300520 6414100192 5631500400 ... 1523300141  291310100 1523300157]

Unique values in 'date':
['20141013T000000' '20141209T000000' '20150225T000000' '20150218T000000'
 '20140512T000000' '20140627T000000' '20150115T000000' '20150415T000000'
 '20150312T000000' '20150403T000000' '20140527T000000' '20140528T000000'
 '20141007T000000' '20150124T000000' '20140731T000000' '20140529T000000'
 '20141205T000000' '20150424T000000' '20140514T000000' '20140826T000000'
 '20140703T000000' '20140516T000000' '20141120T000000' '20141103T000000'
 '20140626T000000' '20141201T000000' '20140624T000000' '20150302T000000'
 '20141110T000000' '20141203T000000' '20140613T000000' '20141230T000000'
 '20150213T000000' '20140620T000000' '20140715T000000' '20140811T000000'
 '20140707T000000' '20141028T000000' '20140729T000000' '20140718T000000'
 '20150325T000000' '20140716T000000' '20150428T000000' '20150311T000000'
 '20140916T000000' '20150217T000000' '20141231T000000' '20150205T000000'
 '20150303T000000' '20140819T000000' '20150407T000000' '20140827T000000'
 '20150223T000000' '20141210T000000' '20140828T000000' '20141021T000000'
 '20141207T000000' '20140603T000000' '20140909T000000' '20141009T000000'
 '20140825T000000' '20140612T000000' '20140912T000000' '20150105T000000'
 '20140610T000000' '20140710T000000' '20150316T000000' '20141105T000000'
 '20150420T000000' '20140609T000000' '20150323T000000' '20141202T000000'
 '20141222T000000' '20150128T000000' '20140602T000000' '20141114T000000'
 '20140618T000000' '20140519T000000' '20140904T000000' '20140522T000000'
 '20150226T000000' '20140725T000000' '20141223T000000' '20140908T000000'
 '20150330T000000' '20140711T000000' '20140611T000000' '20141027T000000'
 '20141212T000000' '20140924T000000' '20150402T000000' '20140523T000000'
 '20140723T000000' '20150305T000000' '20150304T000000' '20141124T000000'
 '20141121T000000' '20140623T000000' '20150108T000000' '20150511T000000'
 '20150102T000000' '20141119T000000' '20150406T000000' '20141104T000000'
 '20140717T000000' '20150126T000000' '20140813T000000' '20140805T000000'
 '20140507T000000' '20140708T000000' '20150508T000000' '20150227T000000'
 '20140625T000000' '20140806T000000' '20141030T000000' '20140820T000000'
 '20150409T000000' '20150331T000000' '20150401T000000' '20140728T000000'
 '20140807T000000' '20141113T000000' '20141003T000000' '20150309T000000'
 '20140812T000000' '20141208T000000' '20150219T000000' '20150324T000000'
 '20140605T000000' '20140502T000000' '20150116T000000' '20140929T000000'
 '20150210T000000' '20140709T000000' '20140530T000000' '20141117T000000'
 '20150107T000000' '20150414T000000' '20140905T000000' '20140505T000000'
 '20150418T000000' '20140818T000000' '20140515T000000' '20141111T000000'
 '20150113T000000' '20141014T000000' '20141112T000000' '20140804T000000'
 '20140919T000000' '20141123T000000' '20150422T000000' '20150114T000000'
 '20150221T000000' '20141023T000000' '20140822T000000' '20140918T000000'
 '20140903T000000' '20140604T000000' '20150413T000000' '20140616T000000'
 '20140902T000000' '20150320T000000' '20140701T000000' '20141001T000000'
 '20150127T000000' '20150427T000000' '20150212T000000' '20150314T000000'
 '20140923T000000' '20140513T000000' '20150421T000000' '20141020T000000'
 '20150211T000000' '20140829T000000' '20141024T000000' '20141216T000000'
 '20140814T000000' '20150504T000000' '20150501T000000' '20141017T000000'
 '20140925T000000' '20150505T000000' '20150513T000000' '20140630T000000'
 '20150410T000000' '20150209T000000' '20140702T000000' '20150224T000000'
 '20141022T000000' '20141002T000000' '20140619T000000' '20150228T000000'
 '20150408T000000' '20141122T000000' '20140721T000000' '20150202T000000'
 '20150416T000000' '20140722T000000' '20141106T000000' '20141229T000000'
 '20140922T000000' '20141006T000000' '20140917T000000' '20150130T000000'
 '20150326T000000' '20150423T000000' '20141204T000000' '20140520T000000'
 '20150429T000000' '20150313T000000' '20150121T000000' '20140801T000000'
 '20150430T000000' '20150306T000000' '20150417T000000' '20140911T000000'
 '20150318T000000' '20140730T000000' '20141219T000000' '20140506T000000'
 '20150512T000000' '20140821T000000' '20150319T000000' '20150502T000000'
 '20150222T000000' '20141126T000000' '20141015T000000' '20150106T000000'
 '20140808T000000' '20140901T000000' '20140614T000000' '20150510T000000'
 '20140521T000000' '20140508T000000' '20141029T000000' '20150507T000000'
 '20140906T000000' '20141008T000000' '20150310T000000' '20141217T000000'
 '20141218T000000' '20150123T000000' '20141211T000000' '20140930T000000'
 '20150204T000000' '20150206T000000' '20140617T000000' '20150506T000000'
 '20140622T000000' '20140815T000000' '20141118T000000' '20140802T000000'
 '20141016T000000' '20140712T000000' '20140910T000000' '20140509T000000'
 '20141215T000000' '20141107T000000' '20140714T000000' '20140615T000000'
 '20140926T000000' '20140606T000000' '20150122T000000' '20150317T000000'
 '20141125T000000' '20141010T000000' '20141226T000000' '20150120T000000'
 '20150514T000000' '20150112T000000' '20140724T000000' '20150425T000000'
 '20150220T000000' '20140915T000000' '20140517T000000' '20150426T000000'
 '20150109T000000' '20150419T000000' '20140511T000000' '20140524T000000'
 '20150214T000000' '20150503T000000' '20140601T000000' '20141031T000000'
 '20150327T000000' '20140621T000000' '20141018T000000' '20141220T000000'
 '20150203T000000' '20150129T000000' '20140726T000000' '20140719T000000'
 '20141221T000000' '20140628T000000' '20140720T000000' '20150119T000000'
 '20141224T000000' '20140526T000000' '20140816T000000' '20140927T000000'
 '20140706T000000' '20141214T000000' '20141005T000000' '20150412T000000'
 '20141115T000000' '20141108T000000' '20141101T000000' '20140525T000000'
 '20140831T000000' '20140907T000000' '20150329T000000' '20141019T000000'
 '20140629T000000' '20140504T000000' '20150404T000000' '20141116T000000'
 '20150216T000000' '20140531T000000' '20141004T000000' '20140518T000000'
 '20141109T000000' '20150315T000000' '20150405T000000' '20140510T000000'
 '20150207T000000' '20140608T000000' '20141213T000000' '20140809T000000'
 '20150321T000000' '20141012T000000' '20150515T000000' '20140817T000000'
 '20140704T000000' '20140913T000000' '20150307T000000' '20150411T000000'
 '20140810T000000' '20141206T000000' '20150509T000000' '20140803T000000'
 '20140928T000000' '20140503T000000' '20140713T000000' '20140705T000000'
 '20141025T000000' '20141128T000000' '20150328T000000' '20150301T000000'
 '20140920T000000' '20141102T000000' '20150125T000000' '20140921T000000'
 '20150110T000000' '20140823T000000' '20141026T000000' '20141129T000000'
 '20140607T000000' '20150524T000000' '20150131T000000' '20141227T000000'
 '20150117T000000' '20140914T000000' '20150308T000000' '20140830T000000'
 '20150527T000000' '20150322T000000' '20150215T000000' '20141011T000000'
 '20150201T000000' '20141130T000000' '20140824T000000' '20140727T000000']

Unique values in 'price':
[ 221900  538000  180000 ...  610685 1007500  402101]

Unique values in 'bedrooms':
[ 3  2  4  5  1  6  7  0  8  9 11 10 33]

Unique values in 'bathrooms':
[1.   2.25 3.   2.   4.5  1.5  2.5  1.75 2.75 3.25 4.   3.5  0.75 4.75
 5.   4.25 3.75 0.   1.25 5.25 6.   0.5  5.5  6.75 5.75 8.   7.5  7.75
 6.25 6.5 ]

Unique values in 'sqft_living':
[1180 2570  770 ... 3087 3118 1425]

Unique values in 'sqftlot':
[ 5650  7242 10000 ...  5813  2388  1076]

Unique values in 'floors':
[1.  2.  1.5 3.  2.5 3.5]

Unique values in 'view':
[0 3 4 2 1]

Unique values in 'condition':
[3 5 4 1 2]

Unique values in 'grade':
[ 7  6  8 11  9  5 10 12  4  3 13  1]

Unique values in 'sqftabove':
[1180 2170  770 1050 1680 3890 1715 1060 1890 1860  860 1430 1370 1810
 1980 1600 1200 1250 2330 2270 1070 2450 1710 1750 1400  790 2570 2320
 1190 1510 1090 1280  930 2360  890 2620 2600 3595 1570  920 3160  990
 2290 2165 1640 1000 2130 2830 2250 2420 3250 1850 1590 1260 2519 1540
 1110 1770 2720 2240 3070 2380 2390  880 1040  910 3450 2350 1900 1010
  960 2660 1610  765 3520 1290 1960 1160 1210 1270 1440 2190 2920 1460
 1170 1240 3140 2030 2310  700 1080 2520 2780 1560 1450 1720 2910 1620
 1360 2070 2460 1390 2140 1320 1340 1550  940 1380 3670 2370 1130  980
 3540 2500 1760 1030 1780 3400 2680 1670 2590  820 1220 2440 2090 1100
 1330 1420 1690 2150 1910 1350 1940  900 1630 2714  850 1870 1950 2760
 2020 1120 1480 1230 2280 3760 3530  830 1300 2740 1830  720 2010 3360
  800 1730  760 1700 4750 5310  580 2653 2850 2210 2630 3500 1740 1140
 2160 2650  970 2040 2180 2220 1660 3370 2690 1930 3150 3030 2050 2490
 2560 1275 2580  560 1820 1840 2990 3230 1580 3480 2510 1410 2120 3300
 3840 1500 1530 2840  833 2000 6070  950 2200 4040 1920 1490 3470 3130
 2610 3260 2260  430 3390  630 4860 3860 2810  870 3180 2770 4030 4410
 2400 1520 3040 6050 4740 1970 5403 3350 3580 1790  750 2860 2750 2340
 2870 4120 3200 2550 1805 4150 1384 2060 2110 3590 2100 2540 1880 1150
 1470 1255 1800 4370 3190 2730 4570 2470  670 2900 4670 4230 2156 1020
 2940 2640 2710 3100 3610 4270  840 3090 2300  380 2480 3460 3060 3064
 3000 1654 2790 1310 2230 2430 3680 2670 2208  810  740 1422  490 2080
 3440 5670 4475  730 3410 3010  600 2960 3570 4300 3990  780 3020 5990
  440 4460 4190 2800 2530 1650 3690 2932 3720 4250 3110 2963 4930 2950
 5000 2452 2820 1981  640 2495 2403 5320 6720  660 2341 4210 3830 3280
 2980 5153 1990 1646  610  710 5450 3504 3210 1782 2930  590 4280  680
 3880 3430 3750 4130 5710 3380 3330 4700 3220 3362 3510 3810  620 4490
 2410 3050 1008 3488 4070 3420 5770 1605  520 1088 3555 4360 3960 2700
 4340 1552 3850 2303 3270 4350 3640 2174 4160 2496 5180 5130 6350 3770
 2153 3780 2890 1714 2201 2970  992 3950 3527 2835 3915 1427 4870 3340
 3620 4310 3930 4080 5400  570 3310 6110 3320 3490 3859 3710 1798 4600
 3560 3940 3600 3800 1105 2305 3290 5050 1556 1553 4000 1657 3001 4220
  480 3120 3740  530 3700 5230 5370 3080 4140 4430 3550 1159 1288 2880
 4610 1122 3052 1479 7680 3820 1934 5080 2675 2506 5760 2154 4390 3240
 1995 1689 2782 2395 4400 6200 3526 4320 2483 4380 4580 4180 2064 3650
 1726 2019 4240 1256  500 1355 1747 1678 1833 1414 4115 3597 3170  390
 1976 5830 2601 3920 2641 5070 2518 3910 3660 3695 4020 2803 2074 2038
 4060 4890 2329 1264 1095  690 4090 1392 2844  902 4560 2811 4720 2168
 5610 2683 4900 2095 4290 4050 4260 4440 6220 1175  998 2356 4500 3900
 3831 1315 4470 4810 2286 2927 4760 8570 5140 1679 1811 2849 1676 1757
 3730 2441 2163 5250 2795 2415 3970 4200 1068 5240 1509 1954 4820 1651
 4100 1752 3630 2885 3154 1129 2632 1996 4010  550  410 6430 3790 2031
 1652 2434 3316 1899 2331 2497 2216 4170 1341 1961 5584 8860 2507 5220
 4850 5844 5530 2145  650 1982 4910 3605 1778 1463 2783 1946 1358 3870
 1864 1845 6290 3980 2382 2979 3674 2726 5440 1295 2115 6085 3265 3136
 6640 4620 3361 2245 2242 1078 2577 1329  420 4330 1975 7420 1788 2299
 1092 4225 1087 1904  470 2966 2192 2253 5550 4133 4285 1216  540 9410
 2075 5330 2166 1628 1808 1352 2557 6380 7880 2734 1363 1769 2093 1677
 2588 5190 2298 1491 2961 5020 5980 4540  844 6120 2233 4480 4110 4770
 2473  995 5160 1494 2007 1048 3002 4780 2155 2014 4980 2665 4830 4790
 5010  370 2105 3006 3004 2689 4660 1746 2678 2755 2414  901 4630 2068
 2807 2643 2181 4510 4420 1604 1435 3045 2717 2905 4940 5110 2533 6660
 3485 2659 5090 2375 1964  866 1595  944 5480  809 5040 1764 1656 1802
  460 2692 1544 2044 1212 4083 8020 3905 1502 4590  384 2092 6090 1615
 7320 1396 1484 1765 5490 1453 1643 5300 1381 4065  290 1313 5430 1397
 2793 2475 1936 3028  798 2575 3276 1584 2393 2029 3222 1072 1785 1984
  962 2423 2052 2538 2437 2789 2906 4800 7850 2196 1847 2658 2655 3855
 1728  963 2223 1611 2015 2448 1489 1116 3745 1002 3202 1347 1481 2311
 2544 2584 2217 3569 3181 1921 2612 2671 2598 3284 3266 1076 2594 2718
 1794 2481 3845 1413 1876 3148 2413 1767 5060  806 2547 1834 2024 1165
 2134 1741 2798 1852 2099 3216 1094 2891 2432 2283 2701 1658  893 2009
 1444 2744 3078 3065 1578 2815 4960 1571 6530 4640 1536 3172 6370 3223
 1608 2229 3135 1408 1763 4840 1232 2502 2424 1296 1914  988 3828 3056
 2267 1131 2796 1812 1084 2025 1564 1239 2568 1528 2628 2185 2478 2669
 1912 2828 2425 1446 3206 2406 1419 2056 1144 2456 4950 3192  828 2529
 2732 1987 3906 4073 2578 2738 3691 1061 2846 2542 1889 3336 3236 1451
 1983 2313 1824 1322 1766 2301 3274 1108 2864 2716 1572 3281 2656 2398
 1867 1613 2587 2623  894 1606 2244 2026 2238 2517 2708 2555 1405 4450
 1248 6420 2531 1333 2198 3087 3118 1425]

Unique values in 'sqft_basement':
[   0  400  910 1530  730 1700  300  970  760  720  700  820  780  790
  330 1620  360  588 1510  410  990  600  560  550 1000 1600  500 1040
  880 1010  240  265  290  800  540  380  710  840  770  480  570 1490
  620 1250 1270  120  650  180 1130  450 1640 1460 1020 1030  750  640
 1070  490 1310  630 2000  390  430  850  210 1430 1950  440  220 1160
  860  580 2060 1820 1180  200 1150 1200  680  530 1450 1170 1080  960
 1100  280  870  460 1400 1320  660 1220  900  420 1580 1380  475  690
  270  350  935 1370  980 1470  160  950   50  740 1780 1900  340  470
  370  140 1760  130  610  520  890 1110  150 1720  810  190 1290  670
 1800 1120 1810   60 1050  940  310  930 1390 1830 1300  510 1330 1590
  920 1420 1240 1960 1560 2020 1190 2110 1280  250 2390 1230  170  830
 1260 1410 1340  590 1500 1140  260  100  320 1480 1060 1284 1670 1350
 2570 2590 1090  110 2500   90 1940 1550 2350 2490 1481 1360 1135 1520
 1850 1660 2130 2600 1690  243 1210 2620 1024 1798 1610 1440 1570 1650
  704 1910 1630 2360 1852 2090 2400 1790 2150  230   70 1680 2100 3000
 1870 1710 2030  875 1540 2850 2170  506  906  145 2040  784 1750  374
  518 2720 2730 1840 3480 2160 1920 2330 1860 2050 4820 1913   80 2010
 3260 2200  415 1730  652 2196 1930  515   40 2080 2580 1548 1740  235
  861 1890 2220  792 2070 4130 2250 2240  894 1990  768 2550  435 1008
 2300 2610  666 3500  172 1816 2190 1245 1525 1880  862  946 1281  414
 2180  276 1248  602  516  176  225 1275  266  283   65 2310   10 1770
 2120  295  207  915  556  417  143  508 2810   20  274  248]

Unique values in 'yr_built':
[1955 1951 1933 1965 1987 2001 1995 1963 1960 2003 1942 1927 1977 1900
 1979 1994 1916 1921 1969 1947 1968 1985 1941 1915 1909 1948 2005 1929
 1981 1930 1904 1996 2000 1984 2014 1922 1959 1966 1953 1950 2008 1991
 1954 1973 1925 1989 1972 1986 1956 2002 1992 1964 1952 1961 2006 1988
 1962 1939 1946 1967 1975 1980 1910 1983 1978 1905 1971 2010 1945 1924
 1990 1914 1926 2004 1923 2007 1976 1949 1999 1901 1993 1920 1997 1943
 1957 1940 1918 1928 1974 1911 1936 1937 1982 1908 1931 1998 1913 2013
 1907 1958 2012 1912 2011 1917 1932 1944 1902 2009 1903 1970 2015 1934
 1938 1919 1906 1935]

Unique values in 'yr_renovated':
[   0 1991 2002 2010 1999 1992 2013 1994 1978 2005 2008 2003 1984 1954
 2014 2011 1974 1983 1945 1990 1988 1957 1977 1981 1995 2000 1998 1970
 1989 2004 1986 2009 2007 1987 1973 2006 1985 2001 1980 1971 1979 1997
 1950 1969 1948 2015 1968 2012 1963 1951 1993 1962 1996 1972 1953 1955
 1982 1956 1940 1976 1946 1975 1958 1964 1959 1960 1967 1965 1934 1944]

Unique values in 'zipcode':
[98178 98125 98028 98136 98074 98053 98003 98198 98146 98038 98007 98115
 98107 98126 98019 98103 98002 98133 98040 98092 98030 98119 98112 98052
 98027 98117 98058 98001 98056 98166 98023 98070 98148 98105 98042 98008
 98059 98122 98144 98004 98005 98034 98075 98116 98010 98118 98199 98032
 98045 98102 98077 98108 98168 98177 98065 98029 98006 98109 98022 98033
 98155 98024 98011 98031 98106 98072 98188 98014 98055 98039]

Unique values in 'lat':
[47.5112 47.721  47.7379 ... 47.3906 47.3339 47.6502]

Unique values in 'sqft_living15':
[1340 1690 2720 1360 1800 4760 2238 1650 1780 2390 2210 1330 1370 2140
 1890 1610 1060 1280 1400 4110 2240 1220 2200 1030 1760 1860 1520 2630
 2580 1390 1460 1570 2020 1590 2160 1730 1290 2620 2470 2410 3625 1580
 3050 1228 2680  970 1190 1990 1410 1480 2730 1950 2250 2690 2960 2270
 2570 2500 1440 2750 2221 1010 3390 3530 1640 1510 2420 1940 3240 1680
  890 1130 3350 2350 1870 1720 1850 1900 1980 2520 1350 1750 1160 2550
 2370 1240 1270 2990 1380 1540 2090 2640 1830 1620 1880 2340 1710 2700
 3060 2660 1700 1970 1420 2060 2480 1550 1170 2820 1560 2230 2840 1450
 1500 3160 1200 3400 2110 2920 1770 1070 1930 3740 2260 1670 2290 1050
 2540 2190 2030 1230 2330 1300 1430 2770 1250 1630 2590 2130 1100 3836
 1320 2120 3070 1910 2080 1960 2280 1150 3430 2070 2600  830 1260 3120
 2010 1660 1600 2380 3890 4180 2653 2670 3920 2300 2310 2320 3150 1740
 2400 4550 2510 2440 2880 3860 2150 1310 1820 3080  880 2560 3470 1020
 2040 2610 1810 2860 3480 3130 3360 4050 2450 1790 3180 3600 2000 2430
 2850 4680 2360 3930 1490 2460 2077 1920 3630 3220 2100 3230 4300 3850
 2424 2530 3030 2830 2900 2950 1470  940 2740 4210 3340 3980 2180 3715
 2050 1080 2095 1000 3330 2170 1408 1530 2760 3110  950 3000 1307 2220
 4190 3440 3250 1110 2870 1210 2910 1120 4230 1708 3090 3270 2970 1180
 3100 4100 2930 3510 2688 1840 2490 4090 2810 3260 3680 3420 1654 1365
  980 1677 1140 3640 3460 3140 1502 3720 2790 2940  990 2890  860 4750
 1525 3950 5790  760 2234  960 3210 2780 2800 2305 2665 3620 2710 4320
 2650 3370 1509 1277 1981 2434 4640 2242 3040 3970 3200 4600  840 3290
 2214 1162 3010 5600 3820 3540 1975 4800  740 3990 3170 1576 1768 3310
 2980 1429 3900 3380  820 1090 4060 3910 3190 3450 3730  620 3020 3760
 3320 1132 3300 3770 3960  870 3560 4620 3520 1572 3490 1088 3159 4470
 3570 4890 3690 3280 2083 3780  920 1941 1566  850 2496 1040 3410 4240
 4670 4350 1714 5380 4330 3830 5000 2144 1494 1357  930 3580 4250 4080
 3660 1458 3736 1894 2037 1295 4170 3750 3550 4630 1439 3500 2091  900
 3880 3710 1616  720  800 2315 1564 2767 3721 4650 4020  780 1728 2027
 1264 1404 1459 2028 3639 1943 3425 2641 2114 1309 2412 2517 1802 2011
 1466 1414 3193 1845 1156 3670 1696 5340 4440 1745 1884 4690 4920 2406
 4160 3810 4480 2848 1746 2634 2049 5330 1536 2273 3056 4010 4700  910
 2125 1665 2683 3790  700 1855  750 1078 4150 4340 2344 1098 1175 1188
 3700 3840 4042 2518 3800 2488 3590 2052  810 1528 5030 4740 5070 2967
 4280 2724 3610 3940 4940 4770 1811 4830 2876 1805 1216 5170 1304 2474
 4590 4130 1492 1364 2168 4140 3543 1303 2005 3650 2583 4310 2451 1448
 2955 2142  790 1638 2554 2441 2216 4220 1961 4540  770 4200 3413 1664
 2136 3568 4510 1484 1358 2106 1834 2014 4390 4570 2175 6110 4260  710
 2112 1934 1518 1302 2622 2619 2382 4290 4560 4000 1336 3112 4070 1468
 1571 2605 1138 5110 4850 2165 4410 1678 5610 1984 4660 3870 4370  460
 4610 1914 3515 2246 1786 2109 2326 2728 4400 4950 1767 2054 5500 2555
 3674 2765 1862 1352 4030  399 2415 2901 1815 2236 2253 2004 1356 2403
 1137 1256 4930 4040 2376 4520 4490 2189 2566 2396 1282 2155 1056 2389
 2256 3618 1326 1168 4913  806 1369 2405 2875 1425 5220 1442 2333 3335
 1321 3045 1546 4730 2697 2822 2076 1757 4780  952 4270 2075 2667 1092
 1217 1716 1792 2961 1125 1463 1886  670 4460 2336 3557 5200 2258 1377
 2019 2092 4900 2615 1639 1765 1554 1381 4120 5080 1445 2793 2475  998
 2384 2575 1398 1584 2439 2197 2029 4362 1443 4420 1691 2495 2437 2547
 6210 2009 1847 1346 2578 2879 2255 2815 1608  690 2425 1481 2458 2358
 2056 1921 2419 2996 2502 1798 3087 1076 2981 2363 3191 1763 1876 1949
 2598 1979 1415 2002 2574 2166 3726 2099 2154 1522 1544 2912 2648 1658
 2755 2798 1405 2704 2738 3008 2586 2873 1232 2597 2516 1537 1128 2849
 1399 1131 1569 2381 1084 2304 4530 2297 2279 2303 2669 4225 2513 2725
 1955 2527 4443 2478 1919 1813 2533  828 2015 3078 4495 2673 2316 2647
 3402 3494 2156 3236 2612 2323 2409 2354 1285 2616 1427 1516 2456 2844
 1495 2594 2604 1268 2198 3038 2927]

Unique values in 'sqft_lot15':
[5650 7639 8062 ... 5731 1509 2007]